header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem;
}

.card {
  padding: 1rem;
  border: 2px solid black;
  width: 450px;
  height: 450px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  font-family: "Arial", serif;
}
