header {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 4rem;
}

.card {
	padding: 1rem;
	border: 2px solid black;
	width: 500px;
	height: 500px;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	font-family: 'Arial', serif;
	margin: 2rem;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	button {
		margin-bottom: 1rem;
	}
}
